// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.fixed-width {
  resize: vertical;
}

/**
Printing settings.
 */
@media print {
  .collapse {
    opacity: 0 !important;
  }
  @page {
    size: A4;
    margin: 0;
  }
}